<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <form
      hx-put="/update/{{movement.id}}"
      hx-target="#card-{{movement.id}}"
      hx-swap="outerHTML"
      hx-success="closeModal"
    >
      <div class="modal-header">
        <h5 class="modal-title">Edit Movement</h5>
      </div>
      <div class="modal-body">
        {% include 'movement_form.html' with context %}
      </div>
      <div class="modal-footer">
        <button
          id="modal-close-button"
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
