<div class="card-body">
    <form 
        id="search-form"
        hx-get="/filter-movements" 
        hx-trigger="submit" 
        hx-target="#movement-list" 
        hx-swap="innerHTML"
    >
        <div class="form-group">
          <label for="description-filter"> Description </label>
          <input 
            type="text"
            {% if description is defined %} value="{{description}}" {% endif %}
            name="description" 
            id="description-filter" 
            class="form-control mb-3" 
          />
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="start-date-filter"> Start Date </label>
            <input
              type="date"
              {% if start_date is defined %} 
              value="{{start_date|format_date('%Y-%m-%d')}}" {% endif %}
              name="start_date"
              id="start-date-filter"
              class="form-control mb-3"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="end-date-filter"> End Date </label>
            <input
              type="date"
              name="end_date"
              {% if end_date is defined %} 
              value="{{end_date|format_date('%Y-%m-%d')}}" {% endif %}
              id="end-date-filter"
              class="form-control mb-3"
            />
          </div>
          <div class="form-group col-md-4">
              <label for="movement-type-filter">Movement Type</label>
              <select 
                  id="movement-type-filter"
                  name="movement_type"
                  class="form-control mb-3"
              >
                  {% if movement_type is defined %}
                  <option {% if movement_type == 'all' %} selected {% endif %} value="all">All</option>
                  <option {% if movement_type == 'incomes' %} selected {% endif %} value="incomes">Income</option>
                  <option {% if movement_type == 'expenses' %} selected {% endif %} value="expenses">Expense</option>
                  {% else %}
                  <option value="all">All</option>
                  <option value="incomes">Income</option>
                  <option value="expenses">Expense</option>
                  {% endif %}
              </select>
          </div>
        </div>
        <div class="form-group">
          <button
            type="button"
            class="btn btn-secondary"
            hx-get="/empty-filter"
            hx-target="#filter-container"
            hx-swap="innerHTML"
            hx-trigger="click"
          >
            Clear Filter
          </button>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>        
</div>
